@model PostVM
@using Microsoft.AspNetCore.Identity
@using ShareSpace.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 offset-md-4 profile-header">
            @if (Model.User.ProfilePictureUrl == null)
            {
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" class="profile-image">
            }
            else
            {
                <img src="@Model.User.ProfilePictureUrl" alt="Profile Image" class="profile-image">
            }
            <div class="profile-info">
                <h3>@Model.User.Name</h3>
                @if(Model.User.Id != user.Id)
                {
                    <form asp-action="Follow" asp-controller="Profile" method="post">
                        <input type="hidden" name="followUserId" value="@Model.User.Id" />
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                }
                <div class="profile-stats">
                    <div class="stat">
                        <strong>@Model.PostCount</strong>
                        <span>Posts</span>
                    </div>
                    <div class="stat">
                        <a href="@Url.Action("Followers", "Profile", new { userProfileId = Model.User.Id })" class="profile-link">
                            <strong>@Model.FollowersCount</strong>
                        </a>
                        <span>Followers</span>
                    </div>
                    <div class="stat">
                        <a href="@Url.Action("Following", "Profile", new { userProfileId = Model.User.Id })" class="profile-link">
                            <strong>@Model.FollowingCount</strong>
                        </a>
                        <span>Following</span>
                    </div>
                </div>
                <p class="profile-description">@Model.User.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if (Model.User.Id == user.Id)
    {
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h2 class="text-body text-center">
                <div class="text-center mt-4">
                    <a asp-action="Create" asp-controller="Post" class="btn btn-primary">Add Post</a>
                </div>
            </h2>
        </div>
    </div>
    }
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var post in Model.Posts.OrderByDescending(u => u.PostDate))
        {
            var active = post.HasLiked ? "btn btn-primary" : "btn btn-secondary";

            <div class="col">
                <div class="card h-100">
                    <div id="postCarousel-@post.Id" class="carousel slide">
                        <div class="carousel-inner">
                            @foreach (var image in post.PostImages)
                            {
                                <div class="carousel-item @(image == post.PostImages.First() ? "active" : "")">
                                    <img src="@image.imageUrl" class="d-block w-100" alt="...">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel-@post.Id"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#postCarousel-@post.Id"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Description</p>
                        @if (Model.User.Id == user.Id)
                        {
                            <form asp-action="Delete" asp-controller="Post" method="post">
                                <input type="hidden" name="postId" value="@post.Id" />
                                <button type="submit" class="delete-btn"><i class="bi bi-trash"></i></button>
                            </form>
                        }
                        <div class="d-flex justify-content-between align-items-center">
                            <form asp-action="LikeAPost" asp-controller="Home" method="post">
                                <input type="hidden" name="postId" value="@post.Id" />
                                <div class="text-warning">
                                    <button type="submit" class="btn btn-like @active">
                                        <i class="bi bi-hand-thumbs-up"></i>@post.LikeCount
                                    </button>
                                </div>
                            </form>
                            <small class="text-muted">@post.PostDate.ToString("MMMM dd, yyyy HH:mm")</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
